<div class="row">
  <div class="col-md-10 col-md-offset-4">
    <h2>See our recipes and pick your favourites!</h2>
    <% @recipes.map do |recipe| %>
      <div class="card bg-light">
        <div class="card-header">
          <%= link_to recipe.title, recipe_path(recipe.id) %>
        </div>
        <div class="card-body">
          <%= image_tag recipe.photo, class: "img-fluid" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
